img {
  float: right;  
  margin: 1px;
}
p {
  font-size: smaller;
}
span {
  display: block;
}
#delicious {
  font-size: 30px;
}
#img-logo {
  float: left;
}

#pizza {
  float: none;
}
.recipe {
  background-image: url(img/list-bg.png); 
}
ul{
  list-style-type: none;
}
#img-van{
  float: left;
}
#vanessa{
  font-size: medium;
}